export(vkAuth)
export(vkGetToken)
export(vkGetGroupStat)
export(vkGetGroupStatAge)
export(vkGetGroupStatCity)
export(vkGetGroupStatCountries)
export(vkGetGroupStatGender)
export(vkGetGroupStatGenderAge)
export(vkGetAds)
export(vkGetAdBudget)
export(vkGetAdCategories)
export(vkGetAdAccounts)
export(vkGetAdCampaigns)
export(vkGetAdStatistics)
export(vkGetAdCityStats)
export(vkGetAdGenderStats)
export(vkGetAdAgeStats)
export(vkGetAdGenderAgeStats)
export(vkLoadToken)
importFrom(utils,browseURL)
importFrom(httr,GET)
importFrom(httr,stop_for_status)
importFrom(httr,content)
importFrom(RCurl,getURL)
importFrom(jsonlite,fromJSON)
importFrom(jsonlite,toJSON)
importFrom(tidyr,separate)
