export(vkGetGroupStat)
export(vkGetGroupStatAge)
export(vkGetGroupStatCity)
export(vkGetGroupStatCountries)
export(vkGetGroupStatGender)
export(vkGetGroupStatGenderAge)
export(vkGetToken)
export(vkGetAds)
export(vkAuth)
export(vkgetAccounts)
export(vkLoadToken)
importFrom(utils,browseURL)
importFrom(httr,GET)
importFrom(httr,stop_for_status)
importFrom(httr,content)
importFrom(RCurl,getURL)
importFrom(jsonlite,fromJSON)
importFrom(jsonlite,toJSON)
