export(vkGetGroupStat)
export(vkGetGroupStatAge)
export(vkGetGroupStatCity)
export(vkGetGroupStatCountries)
export(vkGetGroupStatGender)
export(vkGetGroupStatGenderAge)
export(vkGetToken)
export(vkLoadToken)
importFrom(utils,browseURL)
importFrom(RCurl,getURL)
importFrom(jsonlite,fromJSON)
